@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: 0B0C0F;
}

.container{
    height: 70vw;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(imgs/bg-3201x1320.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.nav-logo{
    display: flex;    
}

.nav-logo img{
    width: 75px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;   
}

.container .nav-logo button{
    position: fixed;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 15px;
    margin-top: 15px;
    margin-right: 20px;
    color: rgb(227, 210, 210);
    background: transparent;
    border: none;
    cursor: pointer;
}

.container .nav-logo button:hover{
    color: white;
    background: #283038;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    padding: 8px 30px;
    position: fixed;
    cursor: pointer;
}

.container .main-subs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    color: white;
    text-align: center;

}

.container .main-subs img{
    height: 100px;
    width: 300px;
    margin-right: 30px;
    margin-top: 20px;
}

.container .main-subs p{
    color: #1CE783;
    font-weight: 600;
    font-size: 13px;

}

.container .main-subs h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}


.container .main-subs button{
    background-color: #1CE783;

    font-weight: 600;
    border: none;
    padding: 10px 100px;
    border-radius: 5px;
}

.container .main-subs button:hover{
    background-color: #1CE783;
    opacity: 0.8;
    cursor: pointer;
}


.container .sub-two div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .sub-two .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .sub-two h4{
    color: white;
}

.container .sub-two .tc a{
    color: white;
    opacity: 0.7;
    font-size: 14px;
    margin-top: 11px;
}

.container .sub-two .sign-up h3 a{
    color: white;
    font-weight: 300;
}

.container .sub-two .sign-up h3 a:hover{
    color: #1CE783;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
}

.container .sub-two h4{
    font-size: 12px;
    font-weight: 700;
}

.container .sub-two .arrow-down img{
    border: 1px solid white;
    padding: 15px 25px;
    border-radius: 50%;
}

.build-plan{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom,#2fb976,#303339);
    height: 8vw;
}

.build-plan p {
    color: white;
    margin-top: 15px;
    font-size: 13px;
    width: 100%;
    font-weight: 600;
}

.build-plan button{
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 50px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.build-plan button:hover{
    background: #A5B6AF;
    border: none;
    color: black;
    font-weight: 600;
}

.arrow-down{
    margin-top: 10px;
}

/* --------------------Second Container Starts------------------------- */

.second-container{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #0B0C0F;
    padding-top: 60px;
    flex-wrap: wrap;
    
}

.second-container .cont-text{
    width: 100%;
    color: white;
}

.second-container .cont-text p{
    color: #1CE783;
    font-size: 15px;
    font-weight: 600;
}

.second-container .cont-text h1{
    padding: 20px;
}

.second-container .cont-text span{
    font-size: 17px;
}

.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    align-items: center;


}

.card-holder .cards{
    padding-top: 40px;
    margin: 10px 30px;
}

.card-holder .cards p{
    color: white;
    font-size: 15px;
    opacity: 0.5;
}

.card-holder img{
    position: relative;
    padding: 0px;
    height: 550px;
    width: 450px;
    border-radius: 20px;
}

.card-holder img:hover{
    border: 5px solid #dadada;
    opacity: 0.7;

}


.second-container  button{
    background-color: #1CE783;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
    border: none;   
}

.second-container  button:hover{
    background-color: #1CE783;
    opacity: 0.7;
    cursor: pointer;
}



.second-container .cont-text{
    padding-bottom: 20px;
}

.second-container .opac{
    position: block;
    color: white;
    font-size: 12px;
    opacity: 0.6;
}

.second-container .opac a{
    color: white;
    opacity: none;
}

.second-container h3{
    width: 100%;
    padding-top: 15px;
}

.second-container h3 a{
    color: white;
    font-weight: 600;  
}

/*------------------------------ second container ends-----------------------------  */
